@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
.bg-purple{
    background: #511653;
}
.bg-purpler{
    background-color: #381239;
}
.bg-lpurple{
    background: #684b69;

}
.headerWrapper .top-strip{
    padding: 4px 8px;
}
.headerWrapper .top-strip p{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.headerWrapper .header{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}
.logoWrapper img{
    width: 100%;
}
.headerWrapper .header .part2 .countryDrop{
    width: 150px;
    height: 60px;
    min-width: 150px;
    text-align: left;
    justify-content: flex-start;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 10px;

}
.headerWrapper .header .part2 .countryDrop .label{
    font-size: 12px !important;
    text-transform: capitalize  !important;
    color: rgba(0, 0, 0, 0.4);
    line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name{
    font-size: 14px !important;
    text-transform: capitalize  !important;
    color: #511653;
    font-weight: 700;
    line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
    opacity: 0.7;
}
 .headerSearch{
    width: 60%;
    height: 60px;
    background-color: #f3f4f7;
    padding: 10px ;
    position: relative;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
 .headerSearch input{
    background: transparent;
    outline: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 40px;
    border: none;
    padding: 0px 20px;
    padding-right: 40px;
 }
 .headerSearch input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.6);
}
 .headerSearch button{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #000;

}
.headerSearch button svg{
    font-size: 25px;
}
header .part3 .circle{
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
}
header .part3 .circle svg{
    font-size: 20px;
}
.cartTab button{
    background: rgb(255, 239, 209);
    color: orangered !important;
}
.cartTab .price{
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.cartTab .count{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: orangered;

}
nav .allCatTab{
    background: #511653;
    padding: 8px 20px;
    /* padding: 15px 20px; */
    border-radius: 35px;
    gap: .5rem;
}
nav .allCatTab *{
    color: #fff;
}
nav .allCatTab .text{
    font-weight: 500;

}
nav .navPart2 ul{
    margin-bottom: 0;
}
nav .navPart2 ul li{
    position: relative;
}
nav .navPart2 ul li .submenu, .catWrapper .submenu, .catWrapper .subSubMenuWrapper .subSubMenu{
    position: absolute;
    top: 150%;
    left: 0;
    min-width: 200px;
    padding: 10px 0px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    z-index: 999;

}

nav .navPart2 ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
}
nav .navPart2 ul li button{
    background: transparent;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 15px; 
    font-weight: 500;
}
nav .navPart2 ul li .submenu a{
    border-radius: 1px !important;
    padding: 0;
}
nav .navPart2 ul li .submenu a:hover{
    background-color: #f3f4f7;
}
nav .navPart2 ul li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 8px 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}
nav .navPart2 ul li a:hover{
    background-color: #d3c8d4;
    color: #381239;
}
.locationModal .MuiPaper-elevation{
    padding: 25px;
    max-height: 400px;
    position: relative;
}
.locationModal .MuiPaper-elevation .countryList{
    overflow-y: scroll;
    margin-top: 25px;
}
.locationModal .MuiPaper-elevation .countryList li{
    width: 100%;
    list-style: none;
}
.locationModal .MuiPaper-elevation .countryList .active{
    background-color: #f3f4f7;
}
.locationModal .MuiPaper-elevation .countryList li button{
    width: 100%;
    text-transform: capitalize;
    color: #000;
    justify-content: flex-start;
}
::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
.locationModal .MuiPaper-elevation .close_,.productModal .MuiPaper-elevation .close_{
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    color: #000;
    min-width: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
}
.locationModal .MuiPaper-elevation .close_:hover, .productModal .MuiPaper-elevation .close_:hover{
    color: white;
    background: red;
}
.catWrapper{
    position: relative;
}
.catWrapper .submenu{
    position: absolute;
    top: 150%;
    width: 200px;
    z-index: 9999;
}
.catWrapper .submenu button{
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    justify-content: space-between;

}
.catWrapper:hover .submenu{
    opacity: 1;
    visibility: inherit;
}
.catWrapper .subSubMenuWrapper{
    position: relative;
}
.catWrapper .subSubMenuWrapper .subSubMenu{
    position: absolute;
    left: 100%;
    top: 0px;
    
}
.catWrapper .subSubMenuWrapper:hover .subSubMenu{
    opacity: 1;
    visibility: inherit;
}
.image, .image img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    user-select: none;
    border-radius: .5rem;
    box-sizing: border-box;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.prev, .next{
    width: 3rem;
    height: 3rem;
    padding: .75rem;
    cursor: pointer;
     background-color: white;
    border-radius: 50%;
    
}
.prev:hover, .next:hover{
    background-color: gainsboro;
    /* box-shadow: 0px 0px 10px gray; */
}
.carousel{
    position: relative;
    top: 0px;
    /* padding: 0 20px; */
    /* margin-bottom: 20px; */
    max-width: 1024px;
    margin: auto;
}

.indbtns{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    gap: 1rem;
}
.ind{
    width: 1rem;
    height: 1rem;
    background-color: #381239;
    border-radius: .5rem;
}
#now{
    width: 2rem;
    border-radius: .5rem;
    background-color: white;
}
.homeProducts{
    padding: 25px 0px;
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
.cursor{
    cursor: pointer;
}
.banner{
    width: 100%;
    border-radius: 7px;
}
.homeProducts button{
    min-width: 3rem;
    width: 150px;
    border-radius: 2rem;
    background-color: #f3f4f7;
    color: #000;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}
.product_row .item{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 0;
}
.product_row .item h4{
    font-size: 16px;
    font-weight: 600;
}
 .item .info{
    padding: 1rem;
}
.bannerHeading{
    font-size: 20px;
    font-weight: 600;
}
.oldPrice{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
}
.netPrice{
    font-size: 18px;
    font-weight: bold;
}
.product_row .item:last-child{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.productItem{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.productItem .badge{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 7px 10px;
}
.badge-primary{
    background-color: #381239;
}
.productItem .actions{
    position: absolute;
    top: 1rem;
    opacity: 0;
    visibility: none;
    width: 40px;
    /* transition: all 0.3s ease-in-out; */
}
.productItem .actions button{
    min-width: 30px;
    width: 40px;
    margin-bottom: .5rem;
    height: 40px;
    background-color: #f3f4f7;
    border-radius: 60px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);

}
.productItem .actions button:hover{
    background: #511653;
    color: white;

}
.productItem .actions button svg{
    width: 15px;
    height: 15px;
}
.productItem .imgWrapper{
    overflow: hidden;
    border-radius: 8px;
}
.productItem .imgWrapper:hover .actions{
    opacity: 1;
    right: 1rem;
}
.homeCat{
    padding: 1rem;
}









.swiper-button-next, .swiper-button-prev {
    color: #000 !important;
    width: 40px !important;
    height: 40px !important;
    background: #f3f4f7;
    padding: 15px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}

/* Correct pseudo-element targeting */
.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 15px !important;
    font-weight: 900 !important;
    color: #000 !important; /* Color for the arrow icons */
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.newsLetter{
    background: #381239;
    height: auto ;
    overflow: hidden;
}
.newsLetter .text-light{
    opacity: 0.5;
}
.newsLetter form{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
}
.newsLetter form svg{
    font-size: 30px;
    margin-left: 1rem;
}
.newsLetter form input{
    height: 40px;
    background: none;
    outline: none;
    border: none;
    padding-left: 1rem;
    width: 100%;
    font-size: 18px;
    margin-right: 30%;
}
.newsLetter form button{
    min-width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #511653;
    position: absolute;
    right: 0.5rem;
}
.topInfo .col{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.topInfo :last-child{
    border-right: 0px;
}
.topInfo .col svg{
    font-size: 30px;
}
.topInfo .col p{
    margin: auto;
}
.bottomTable .col ul li{
    list-style: none;
}
.bottomTable .col a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.bold{
    font-weight: 600;
}
.copyright ul li svg{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    /* color: #511653; */

}
.copyright ul :hover{
    background-color: #511653;
    color: white;
}
 .copyright ul li{
    text-align: center;
    width: 40px;
    padding: 7px;
    /* height: 40px; */
    background: #f3f4f7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  
}
.copyright ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productModal .MuiPaper-elevation{
    padding: 2rem !important;
    width: 800px;
    max-width: 900px;
}
.productDetailSwiper{
    border-radius: 7px;
    user-select: none;
}
.btn-purple{
    background: #511653 !important;
    color: white !important;
}
.btn-purple-inv{
    background: white !important;
    color: #511653 !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.btn-round{
    border-radius: 2rem !important;
}
.btn-big{
    min-width: 150px !important;
    padding: auto 1rem !important;
}
.quantityControl{
    width: 150px;
}
.quantityControl button{
    min-width: 40px  !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin: auto .5rem;
}
.quantityControl input{
    height: 40px;
    max-width: 25px;
    border: none;
    outline: none;
}
.wishlist-btn{
    border: 1px solid #511653 !important;
    font-weight: 600 !important;
}
.productModal .compare svg{
    font-size: 20px;
}
.productListingPage .productListing{
    gap: 20px;

}
.productListingPage{
    padding: 35px 0px;
}
.productListingPage .productListing .sidebar{
    width: 20%;
    flex: 0 0 20%;

}
.productListingPage .productListing .contentRight{
    width: 80%;
    flex: 0 0 80%;
}
.productListing .sidebar .filterBox h6{
    font-weight: 600;
    
}
.sidebar .filterBox ul li{
    list-style: none;
    margin: 0px !important;

}
.css-j204z7-MuiFormControlLabel-root svg{
    font-size: 20px;
    color: #381239;
}
.productListing .sidebar .filterBox .scroll{
    max-height: 180px;
    overflow-y: scroll;
}
/* .priceFilter{
    margin-top: 1rem;
} */
.priceFilter .horizontal-slider{
    padding: 2.5px 0px;
    background-color: gainsboro;
    position: relative;
}
.priceFilter .horizontal-slider .example-thumb{
    background-color: #381239;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    /* margin-top: 7px; */
    cursor: pointer;
    position: absolute;
    top: 0px;
    transform: translateY(-25%);
}
.priceFilter .horizontal-slider .example-track-1{
    padding: 2.5px 0;
    background-color: #381239 !important;
    position: absolute;
    top: 0px;
}
.contentRight .viewControls{
    background: gainsboro;
    /* display: inline-block; */
    width: 100% !important;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentRight .icons svg{
    margin-left: 1rem;
    font-size: 18px;
    cursor: pointer;
}.contentRight .products{
    flex-wrap: wrap;
}
.contentRight .products .item{
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    border-radius: 7px;
}
.width33{
    width: 33%;
}
.width50{
    width: 50%;
}
.section{
    padding: 45px 0;
}
.text-light{
    color: rgba(0, 0, 0, 0.6) !important;
}
.productDetail .big .oldPrice{
   font-size: 18px; 
}
.productDetail .big .netPrice{
    font-size: 22px;
}
.productDetail .badge-success{
    padding: .25rem .5rem;
    border-radius: 1rem;
}
.productDetail .about{
    color: rgba(0, 0, 0, 0.6);
}
.productDetail .all{
    padding: .25rem .5rem !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
}
.productDetail .active{
    background: #381239;
    color: white;

}
.tooltip{
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.tooltip svg{
    font-size: 20px;
}
.productDetail .part2{
    margin: 1rem;
    width: 100%;
    /* min-height: 50vh; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
}
.productDetail .part2 button{
    width: 150px;
    border-radius: 2rem;
    background-color: #f3f4f7;
    color: #381239;
    font-weight: 600;
}
.productDetailCarousel{
    margin: 1rem;
}
.hd{
    font-size: 20px;
    font-weight: 600;
}
.cart table thead{
    background-color: #f3f4f7;
}
.cartItemimgWrapper{
    width: 300px;
}
.cartItemimgWrapper .imgWrapper{
    width: 100px;
    overflow: hidden;
}
.cart tbody a{
    color: #000;
    text-decoration: none;
}
.cart .quantityBox input{
    width: 40px;
}
.cart tbody tr :last-child svg{
    font-size: 20px;
    cursor: pointer;
}
.cartDetails hr{
    padding: 0%;
}
